#friends-display-link {
  font-size: 16px;
  text-align: center;
  display:block;
  width: 100%;
  background-color : #fafafa;
  padding : 15px 0px;
  margin-bottom: 5px;
  margin-top: -15px;
}

#friends-display-link i {
  color: var(--gray);
}
.friends-screen {
  padding : 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top : 25px;
  border-top: var(--main-border);
  padding-top: 12px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color : rgba(0,0,0,.5);
}
.friends-screen__channel-header span {
  font-weight: 520;
}
