.nav {
  position: fixed;
  bottom:0;
  width:100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px;
  border-top: var(--main-border);
}
.nav__list{
  display:flex;
  justify-content: space-between;
}
.nav__link {
  coor : #2e363e;
  position: relative;
}

.nav__notification {
  position:absolute;
  left:18px;
  bottom:13px;
}
.nav__update {
  position:absolute;
  right:11px;
  top:15px;
}
