.user-component {
  display :flex;
  justify-content: space-between;
  align-items: center;
}
.user-component__column:first-child {
  display : flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 24px;
}
.user-component__title {
  font-size: 20px;
  font-weight: 600;
}
.user-component__title--not-bold {
  font-weight: 500;
}
.user-component__subtitle {
  margin-top: 5px;
  color: rgba(158,158,158,.91);
}


.user-component__column:last-child {
  color : rgba(0,0,0,.5);
}
